<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>青阳县金融系统党纪学习教育擂台赛</title>
    <link rel="stylesheet" type="text/css" href="/css/mainmenu.css">
    <script src="js/jquery-3.2.1.min.js"></script>
    <script>		
		$(document).ready(function(){		
			  $("#bd_click").click(function(){
				  window.location.href = "select/1";
			  });
			  $("#qd_click").click(function(){
				  window.location.href = "robselect";
			  });	
			  $("#fx_click").click(function(){
				  window.location.href = "riskselect";
			  });
			  $("#home").click(function(){
				  window.location.href = "/";
			  });
			  $("#welcome").click(function(){
				  window.location.href = "/welcome";
			  });
		});
		
	 </script>
</head>
<body>
<div class="title"><span>青阳县金融系统党纪学习教育擂台赛</span></div>
<div class="pbclogo" id="home"><img src="img/danghui.png"></div>
<div class="huazhu" id="welcome"><img src="img/huazhu.png"></div>
<div class="mainmenu">
    <div class="submenu" id="bd_click">
        <div class="sub_icon">
            <img src="img/danghui.png" alt="pbclogo">
        </div>
        <div class="sub_title">必答题</div>
    </div>
    <div class="submenu" id="qd_click">
        <div class="sub_icon">
            <img src="img/danghui.png" alt="pbc">
        </div>
        <div class="sub_title">抢答题</div>
    </div>
    <div class="submenu"  id="fx_click">
        <div class="sub_icon">
            <img src="img/danghui.png" alt="pbc">
        </div>
        <div class="sub_title">风险题</div>
    </div>
</div>
<script src="/js/circlestar.js"></script>
</body>
</html>