<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>青阳县金融系统党纪学习教育擂台赛</title>
    <link rel="stylesheet" type="text/css" href="/css/risk.css">
    <script src="js/jquery-3.2.1.min.js"></script>
	<script>		
		$(document).ready(function(){		
			  $("#d_click").click(function(){
				  window.location.href = "select/3";
			  });
			  $("#z_click").click(function(){
				  window.location.href = "select/4";
			  });	
			  $("#g_click").click(function(){
				  window.location.href = "select/5";
			  });
			  $("#home").click(function(){
				  window.location.href = "/";
			  });
		});
		
	 </script>
</head>
<body>
<div class="title"><span>青阳县金融系统党纪学习教育擂台赛</span></div>
<div class="pbclogo" id="home"><img src="img/danghui.png"></div>
<div class="mainmenu">
    <div class="submenu" style="margin-top:100px;" id="d_click">
        <div class="sub_icon">
            <img src="img/danghui.png" alt="pbclogo">
        </div>
        <div class="sub_title">低风险题</div>
    </div>
    <div class="submenu" style="margin-top:50px;" id="z_click">
        <div class="sub_icon">
            <img src="img/danghui.png" alt="pbc">
        </div>
        <div class="sub_title">中风险题</div>
    </div>
    <div class="submenu" id="g_click">
        <div class="sub_icon">
            <img src="img/danghui.png" alt="pbc">
        </div>
        <div class="sub_title">高风险题</div>
    </div>
</div>
<script src="/js/circlestar.js"></script>
</body>
</html>