<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>青阳县金融系统党纪学习教育擂台赛</title>
    <link rel="stylesheet" type="text/css" href="css/index.css">
    <script src="/js/circlestar.js"></script>
    <script src="js/jquery-3.2.1.min.js"></script>
	<script>		
			$(document).ready(function(){
				  $("#home").click(function(){
					  window.location.href = "/";
				  });
			});
	</script>
</head>
<body>
    <div class="pbc" id="home"><img src="img/danghui.png" ></div>
 <script src="/js/circlestar.js"></script>
</body>
</html>