html, body{
    margin: 0;
    padding: 0;
    overflow: hidden;
}
html{
    background: url("../img/bg_v3.png") no-repeat center fixed;
    background-size: 100% 100%;
    background-color: #001dbc;
}
.title span{
    position: fixed;
    top:50px;
    left:50px;
    color: white;
    font-family: "微软雅黑", serif;
    font-size: 32px;
    letter-spacing: 5px;
}
.mainmenu{
    width: 1000px;
    height:300px;
    margin:220px auto;
    display: flex;
    justify-content: space-around;
}
.submenu{
    width: 200px;
    height: 260px;
    background: #f0f8fc6b;
    border-radius: 20px;
}
.submenu:hover{
    box-shadow: 0px 0px 11px 9px #63c4f4;
    cursor: pointer;
    background: rgba(240, 248, 252, 0.77);
}
.submenu:hover .sub_title{
    color: #1b68c4;
}
.submenu .sub_icon{
    width: 180px;
    height: 160px;
    margin: 35px auto 5px auto;
    text-align: center;
}
.submenu .sub_icon img{
    width: 120px;
    height: 120px;
}
.submenu .sub_title{
    text-align: center;
    color: whitesmoke;
    font-size: 30px;
}
.pbclogo{
	width:80px;
	height: 80px;
	position: fixed;
	top: 40px;
	right:30px;	
}
.pbclogo img{
	width:80px;
	height:80px;
}

.huazhu{
	width:40px;
	height: 60px;
	position: fixed;
	top: 340px;
	right:50px;	
}
